<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
	<add key="turknet-it" value="https://pkgs.dev.azure.com/turknet-it/_packaging/turknet-it/nuget/v3/index.json" />
  </packageSources>
    <packageSourceCredentials>
    <turknet-it> 
        <add key="Username" value="au_jenkinsAgent@netone.net.tr" />
        <add key="ClearTextPassword" value="ffbzx6nmzjarqfsnflukhtblhw2swrtlol3zoxuhe5bcww3q7hea" />
        <add key="ValidAuthenticationTypes" value="basic" /> 
    </turknet-it>
    </packageSourceCredentials>

  <activePackageSource> 
    <add key="All" value="(Aggregate source)" />
  </activePackageSource> 
</configuration>
